<div id="contactDiv" class="row">
  <div class="col-md-5">

    <%= form_for @contact do |f| %>

      <div class="form-group <%='has-error' if @contact.errors[:email].present? %> ">
        <label class="control-label" >Email</label>
        <%= f.text_field :email, {:class => 'form-control'} %>
        <span class="help-block"><%= @contact.errors[:email].join(',') if @contact.errors[:email].present? %></span>
      </div>

      <div class="form-group <%='has-error' if @contact.errors[:first_name].present? %> ">
        <label class="control-label" >First Name</label>
        <%= f.text_field :first_name, {:class => 'form-control'} %>
        <span class="help-block"><%= @contact.errors[:first_name].join(',') if @contact.errors[:first_name].present? %></span>
      </div>

      <div class="form-group <%='has-error' if @contact.errors[:last_name].present? %> ">
        <label class="control-label" >Last Name</label>
        <%= f.text_field :last_name, {:class => 'form-control'} %>
        <span class="help-block"><%= @contact.errors[:last_name].join(',') if @contact.errors[:last_name].present? %></span>
      </div>

      <button ic-target="#contactDiv" ic-put-to="<%= contact_path @contact %>" class="btn btn-primary">Save</button>

      <button ic-target="#contactDiv" ic-get-from="<%= contact_path @contact %>" class="btn btn-danger">Cancel</button>

    <% end %>
  </div>
</div>