<% unless params['ic-request'] == 'true' %>

  <h1>Click To Load</h1>

  <p>This example shows a click-to-load pattern, using the <code>ic-get-from</code> and <code>ic-target</code> attributes
  to swap in a new page of data each time the button is clicked.</p>

  <h3>Code</h3>

  <h4>HTML</h4>

  <pre>
&lt;div id="page-2">
  &lt;div class="text-center">
    &lt;hr/>
    &lt;button class="btn btn-primary btn-lg"
            ic-target="#page-2"
            ic-get-from="/load/2">
      Load Yet More Time Wasting Material...
      &lt;i class="fa fa-spinner fa-spin ic-indicator" style="display: none">&lt;/i>
    &lt;/button>
  &lt;/div>
&lt;/div>
  </pre>

  <h3>Demo</h3>

  <div class="hn-row">
    <div>
      Comments
    </div>
    <div>
      Points
    </div>
  </div>

<% end %>

<% @entries.each do |entry| %>
  <div class="hn-row">
    <a href="<%= entry.comments_url %>">
      <div>
        <%= entry.comments_count %>
      </div>
      <div>
        <%= entry.voting.score %>
      </div>
    </a>
    <a href="<%= entry.link.href %>">
      <%= entry.link.title %>
      (<%= entry.link.site %>)
    </a>
  </div>
<% end %>

<div id="page-<%= @page + 1 %>">

  <div class="text-center">
    <hr/>
    <button class="btn btn-primary btn-lg"
            ic-target="#page-<%= @page + 1 %>"
            ic-get-from="/load/<%= @page + 1 %>">
      Load Yet More Time Wasting Material...
      <i class="fa fa-spinner fa-spin ic-indicator" style="display: none"></i>
    </button>
  </div>

</div>