<% unless params['ic-request'] == 'true' %>

  <h1>Infinite Load</h1>

  <p>This example shows the infinite-load pattern, using the <code>ic-src</code> and <code>ic-load-on='scroll-to-view'</code>
    attributes to swap in a new page of data each time the bottom of the page is scrolled into view.</p>

  <h3>Code</h3>

  <h4>HTML</h4>

  <pre>
&lt;div ic-src="/infinite/&lt;%= @page + 1 %>" ic-load-on="scrolled-into-view">
  &lt;div class="text-center">
    &lt;hr/>
    Load Yet More Time Wasting Material...
    &lt;i class="fa fa-spinner fa-spin ic-indicator" style="display: none">&lt;/i>
  &lt;/div>
&lt;/div>
  </pre>

  <h3>Demo</h3>

  <div class="hn-row">
    <div>
      Comments
    </div>
    <div>
      Points
    </div>
  </div>

<% end %>

<% @entries.each do |entry| %>
  <div class="hn-row">
    <a href="<%= entry.comments_url %>">
      <div>
        <%= entry.comments_count %>
      </div>
      <div>
        <%= entry.voting.score %>
      </div>
    </a>
    <a href="<%= entry.link.href %>">
      <%= entry.link.title %>
      (<%= entry.link.site %>)
    </a>
  </div>
<% end %>

<div ic-src="/infinite/<%= @page + 1 %>" ic-load-on="scrolled-into-view">
  <div class="text-center">
    <hr/>
    Load Yet More Time Wasting Material...
    <i class="fa fa-spinner fa-spin ic-indicator" style="display: none"></i>
  </div>
</div>