<!DOCTYPE html>
<html>
<head>
  <title>IntercoolerRailsDemo</title>

  <!-- Bootstrap core CSS -->
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Crete+Round:400italic,400" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600italic,600,700italic,700,800italic,800"
        rel="stylesheet" type="text/css">

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

  <%= csrf_meta_tags %>
</head>
  <body>

    <div class="container">

      <div id="flash-div" ic-src="/flash" ic-deps="*" ic-always-update="true">
        <%= render :partial => '/layouts/flash' %>
      </div>

      <div class="masthead">
        <a class="pull-right" href="https://github.com/LeadDyno/intercooler-js-demo-rails-app"><i class="fa fa-github"></i> See The Code...</a>
        <h3 class="text-muted">
          <img width="25" src="http://intercoolerjs.org/images/Intercooler_CMYK_noType_64.png">
          <i class="fa fa-plus"></i>
          <img width="35"  src="http://rubyonrails.org/images/rails.png">
          <i class="fa fa-arrow-right"></i> The IntercoolerJS Rails Demo App
        </h3>
        <ul class="nav nav-justified">
          <li class="<%= active_if controller: 'welcome' %>"><a href="/">Home</a></li>
          <li class="<%= active_if controller: 'basic' %>"><a href="/basics">Basics</a></li>
          <li class="<%= active_if controller: 'contacts', action: 'index' %>">
            <a href="/contacts">Bulk UI</a>
          </li>
          <li class="<%= active_if controller: 'slick_nav' %>">
            <a href="/slick_nav/tab1">Slick Nav</a>
          </li>
          <li class="<%= active_if controller: 'contacts', actions: ['show', 'edit'] %>">
            <a href="/contacts/click_to_edit">Click To Edit</a>
          </li>
          <li><a href="#">Progress Bar</a></li>
        </ul>
      </div>

      <div id="content">
        <%= yield %>
      </div>

      <!-- Site footer -->
      <div class="footer">
        <p class="pull-right">&copy; Intercooler.org 2014</p>
      </div>

    </div> <!-- /container -->


</body>
</html>
