<!DOCTYPE html>
<html>
<head>
  <title>IntercoolerRailsDemo</title>

  <!-- Bootstrap core CSS -->
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Crete+Round:400italic,400" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600italic,600,700italic,700,800italic,800"
        rel="stylesheet" type="text/css">

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="https://s3.amazonaws.com/intercoolerjs.org/release/intercooler-0.3.2.min.js">
  </script>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

  <%= csrf_meta_tags %>
</head>
  <body>

    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="<%= active_if controller: 'welcome' %>"><a href="/">Intro</a></li>
            <li class="<%= active_if controller: 'basic' %>"></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Basics <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/basics">Post Via Button</a></li>
                <li><a href="/basics/counter">Dependency Example</a></li>
                <li><a href="/basics/spinner">Spinner Example</a></li>
                <li><a href="/basics/script">Evalutating A Script</a></li>
                <li><a href="/basics/flash_demo">Using The Rails Flash</a></li>
                <li><a href="/basics/events">Events</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Forms <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/contacts/click_to_edit">Rails CRUD Form Example</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Loading  <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/lazy">Lazy Load</a></li>
                <li><a href="/load">Click To Load</a></li>
                <li><a href="/infinite">Infinite Scroll</a></li>
                <li><a href="/infinite_table">Infinite Table</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other UX <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="<%= active_if controller: 'contacts', action: 'index' %>">
                  <a href="/contacts">Table Editing</a>
                </li>
                <li><a href="/job">Process UI</a></li>
                <li class="<%= active_if controller: 'slick_nav' %>">
                  <a href="/slick_nav/tab1">Tab Navigation (Alpha Support)</a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://github.com/LeadDyno/intercooler-js-demo-rails-app"><i class="fa fa-github"></i></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </div>


    <div class="container">

      <div id="flash-div" ic-src="/flash" ic-deps="*" ic-always-update="true">
        <%= render :partial => '/layouts/flash' %>
      </div>


      <div id="content">
        <%= yield %>
      </div>

      <!-- Site footer -->
      <div class="footer">
        <p class="pull-right">&copy; Intercooler.org 2014</p>
      </div>

    </div> <!-- /container -->


</body>
</html>
